//Section with information about company
.about {
  background-color: rgb(252, 97, 97);
  
  background-attachment: fixed;
  background-size: cover;
  min-height: 60vh;
margin: -5vh auto 10vh auto;
  padding: 12vh 0 20vh 0;
  color: white;
  border-radius: 5px;
  transform: translatez(0);
  z-index: -4;
  position: relative;
}
//Style for the name of the section
.section-break-image h6 {
  font-size: 3rem;
  font-family: $global-font2;
  letter-spacing: 1.5px;
  text-align: left;
  margin: 0 0 0 10vw;
}
//Style for description about company
.section-break-image p {
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 0.9px;

  max-width: 50vw;
  margin-left: 10vw;
  padding: 0;
}
.about-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 7.5%;
  margin: auto;
  justify-content: center;
}

.about-flex *:nth-child(n) {
  flex: 3 1 50%;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 20vh;
  content: "";
  font-size: 3vh;
}

.about-flex *:nth-child(1) {
  height: 50vh;
  margin-left: -10%;
}

.about-flex-wrap {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
}
