.navbar-main {
    width: 100%;
    min-height: 12vh;
    background: rgba(105, 68, 139, 0.63);
    top: 0;
    position: fixed;
    z-index: 3;

}

.navbar-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    max-width: 50%;
    margin-left: 40vw;
}

.navbar-holder>*:nth-child(n) {
    flex: 1 2 20%;
    flex-flow: row wrap;
    max-height: 20%;
    text-align: center;
    font-size: 2rem;
}



//to do
.navbar-item-name {
    font-size: 4ch;
    bottom: 0;
}

.navbar-item {

    text-decoration: none;
    text-align: center;
    color: $text-100;
    font-family: $global-font2;
    letter-spacing: 2px;
}

.navbar-item:hover {
    background-color: #fff;
    transition: 0.5s;
}