.navbar-main {
  top: 0;
  position: relative;
  display: flex;
  flex: 1 1 50%;
  justify-content: center;
  min-width: 100%;
  min-height: 5vh;
  margin: auto;
  background-color: #111;
  z-index: 3;
  color: white;
  gap: 3px;
  font-size: 3vh;
  padding: 2vh 3vh;
  font-family: $global-font;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: .5s;
}
.navbar-main > div:nth-child(1) {
  margin-right: auto;
  font-size: 6vh;
}
.navbar-main > div:nth-child(2) {
  margin-right: auto;
}

.nav-button{
   font-size: 2.5vh;
  margin-top: 0.5vh;
  color: white;
  background-color: transparent;
  background-size: 0% 100%;
  border: none;
  border-radius: 60px;
  min-width: 15vh;
  min-height: 7.5vh;
  transition: 0.5s;
}

.nav-button:hover{
    background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.7) 99%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  transition: background-size 1s, background-color 1s;
  cursor: pointer;
  transition: 0.5s;
}



.navbar-fixed{
  top: -15vh;
  position: fixed;
  display: flex;
  
  flex: 1 1 50%;
  justify-content: center;
  min-width: 100%;
  min-height: 5vh;
  margin: auto;
  background-color: #111;
  z-index: 3;
  color: white;
  gap: 3px;
  font-size: 3vh;
  padding: 2vh 3vh;
  font-family: $global-font;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: .5s;
}
.navbar-fixed > div:nth-child(1) {
  margin-right: auto;
  font-size: 6vh;
}
.navbar-fixed > div:nth-child(2) {
  margin-right: auto;
}