#services {
    background: $neutral-100;
    border-radius: 40px;
    text-align: center;
    color: $text-200;
    display: block;
    min-height: 80vh;
    width: 95%;
    margin: auto;
    transform: translateY(-5vh);
    font-size: 10vh;
    box-shadow: 8px 8px 60px 15px $shadow-100;
    z-index: 2;
    font-family: sans-serif;
    overflow: hidden;

}

.services-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 7%;
    justify-content: center;
    max-width: 70vw;
    gap: .5rem;
    transition: 0.5s;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.services-flex>*:nth-child(n) {
    flex: 2 1 250px;
    margin: auto;
    padding-top: 3vh;
    content: '';
    font-size: 1.5vh;
    border-radius: 30px;
}

.icons {
    font-size: 3rem;
}

.card {
    min-height: 40vh;

    min-width: 10vw;
    border: white solid 3px;
    transition: 0.5s;
    box-shadow: inset 3px 3px 20px 3px $shadow-100;
    text-shadow: 15px 15px 20px rgba(66, 68, 90, 1);
    letter-spacing: 1.5px;
}

.card:hover {

    border: green 3px solid;
    transition: 0.5s;
    transform: scale(1.05);
    z-index: 2;
}

.card-header {
    font-size: 1.5rem;
}

.card-description {
    font-size: 1rem;
    color: $text-300;
}