#team {
    background-color: $neutral-100;
    border-radius: 40px;
    text-align: center;
    color: $text-200;
    display: block;
    min-height: 80vh;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    transform: translateY(-5vh);
    font-size: 5vh;
    box-shadow: 8px 8px 60px 15px $shadow-100;
    z-index: 2;
    font-family: sans-serif;
    overflow: hidden;
}

//flex for "Our team" section
.team-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1vh;
    margin: 5vh auto 0 auto;
    padding-bottom: 30px;
    max-width: 90%;
}

//flex properties for all of the children inside container with ".team-flex" class
.team-flex>*:nth-child(n) {
    flex: 2 1 20vh;    
    justify-self: center;
    align-self: center;
    justify-content: center;    
    max-height: 100vh;
    font-size: 1.2rem; //after changing this property it will change only text that doesn't have class inside
    text-align: left;
    line-height: 1.4vh;
}

.team-flex img {
    max-height: 50vh;
    border-radius: 15px;
    min-width: 12.5vw;
}

//Class created for purpose to customize text for roles in team (Our team section)
.role {
    color: rgb(19, 186, 241);
    letter-spacing: .1vh;
    font-family: $global-font2;
    font-size: 1.7vh;
}

//Class created for paragraph with information about staff
.info-member {
    letter-spacing: 1px;
    font-size: 1.5vh;
    max-width: 32vh;
    color: $text-300;
}